!!! 5
- var variable = "<em>some text</em>"
_test   = [{abc: "lalal"}]

.98349 lala
._+ddsf lala

.34&fisjdfjio dsf

.-sdfios(test="&") &asdf ioasdjfoij &amp; -+asdfji &#40;

//  oisdfjoiasdjf
  pasdf.
    siodfaj sodifjaosdifj asoidfjiasjdf
    aiosd jfoaisjd foiajsdofij

div(abc=_test)= _test
include page
html
  mixin lala(abc,lala)
    div= lala
  mixin lala
  body
    head
      script(type="text/javascript")
        var la = lala;
    
        function lala() {
          console.log(a);
        }
     
        function lala() {

        }

        var lala = 0;

      style
        main.lala.lala {
          display: none;
          float: left;
          color: #000;
        }

        div.saf {
          display: none;
        }

    link(rel="stylesheet", href="asdiofjs.css")

    block lala
      yield
      div

    block prepend lala

    append lala

  var lala = 0;

    for i in [1,2,3]
      div= i

    h1 title

    p= console.log("asdf")

    label
      | Username:
      input(type="text")

    label Username:
      input(type="text")

    tag: a dsaoi
      lala lili

    p#lala.lele.lele!= variable

    #lala.lelel.lele= variable

    #test(abc="lala", lele=9, lili=variable) some text

    = variable

    != variable + "asdufhaisd"

    .class some text with #{variable} and !{variable} vars \#{this will show}

    p some text  // not some comment

    a(href="lala", something=variable,) some link

    sdafjosidafj.ajiosd fja


      //
        multiline-comment
        sdafu&iahsdf

        asdfjioasdj
    asdf

        dsfasdf
      asdf

        asdfasdfa

        asdfasdfa

    odisfjosdijf

    //
      comment
      sdafasdf

    //
      sdafsdf

asdf:  ajsiodf:   b= 9 + 9

  p: a aosdifjoasidjf

  p: +a ds
    multi-line.  
      aoisdjfpasd
      asoidfjiasjdf

    asdfasdf: sadfasd:

  p: a:    a asdfjij
    sdf

  strange+sometext
  strange_sometext- lallslla
  tag=variable
  strange[sometext
  _strange some text

    //-
      asjdiofajsodijfao
      asdfjaosidjfoij

      osdifjaosidjf

  div: p some text

    div.class.another: a(href=variable, test="la\"sdafla"): p.red(style="")some text

      div.
        oai sjdofijasdoifj

    div.class.another: p.red(style="").
      some text dasfpoasdf
      asdjiofa jsodfijas
      aosid fjoasidjf oaijsd
      oiasjd foaisjdfoij

  multi line #{"asdfsdf" + variable}

    p
      multi.line allasdkfj
      | line of text #{variable + "aosidjfsd" + 0 + undefined} some other text
      | text & asdfij

    script(type="text/javascript")
      var a = 1;

      function lala() {
        console.log(a);
      }

    a= variable
    //asdoifjaois
      ajsdiofja
      asodifjoasidj

      sdfasdf
      a
      asdfasdf

        asdfasdf
            asdfasdf
            //
              asdfasdf

      sdfasdf


  asdfasdfasd
    asdfasdf

a.p.p

p.lala sodifjoij + 9
